@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  h3 {
    @apply text-2xl font-medium md:font-semibold md:text-4xl lg:text-5xl;
  }
  h4 {
    @apply text-xl md:text-3xl lg:text-5xl font-semibold text-center mb-2 text-teal-500;
  }
  input[type="file"]::file-selector-button {
    @apply bg-teal-500 hover:bg-teal-700 rounded-full px-2 py-1 md:px-4 focus:ring ring-teal-700 border-none outline-none text-white font-medium;
  }
  h6 {
    @apply font-medium;
  }
  label {
    @apply text-base font-medium;
  }
}
